- provide :title, '記者一覧'

p style="color: green" = notice

h1.mb-10.text-2xl 記者一覧

/ grid の列数毎に必要な width
/
/ | 列 |   幅 |
/ |----+------|
/ |  1 |  236 |
/ |  2 |  471 |
/ |  3 |  707 |
/ |  4 |  943 |
/ |  5 | 1178 |
/ |  6 | 1414 |
/ |  7 | 1649 |
/ |  8 | 1885 |
/ |  9 | 2121 |
/ | 10 | 2356 |

.flex.justify-center
  div.grid.gap-4.mx-auto#reporters class="grid-cols-1 min-[471px]:grid-cols-2 min-[707px]:grid-cols-3 min-[943px]:grid-cols-4 min-[1178px]:grid-cols-5 min-[1414px]:grid-cols-6 min-[1885px]:grid-cols-8"
    = render partial: 'ng_lists/reporter', collection: @reporters

.text-center.mt-10
  = link_to "記者を追加する", new_reporter_path, class: "btn btn-primary"
